// Primary UCLA Brand Colors.
@ucla-blue: #3284bf;
@ucla-blue-hover: #2a6e9f;
@ucla-gold: #ffe800;
@ucla-blue-text-only: #347bad;

// Secondary UCLA Brand Colors.
@ucla-secondary-dark-blue: #1e4b87;
@ucla-secondary-light-blue: #00a5e5;

// Navbar Colors.
@ucla-navbar-gold: #FFBC00;

@ucla-link: #0072b1;
@ucla-link-hover: darken(#0072b1, 10%);

// Mr.nav - he's there and fixed to the top of your page
// -------------------------

#mr-nav {
    background-color: #3284bf;
}

a#fixy-trigger {
    color: #FFF;
}

#mr-nav .snap-login-button {
    color: #FFF;
}

#admin-menu-trigger img {
    filter: brightness(200%);
}

#admin-menu-trigger:hover,
#admin-menu-trigger:focus {
    border-color: #FFF;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: @ucla-blue;
  text-decoration: none;
}

.section-modchooser-text,
#changenumsections .increase-sections,
#changenumsections .reduce-sections,
.paging.paging-morelink a,
button#local-joulegrader-preview-button,
button.atto_equation_submit,
a.yui3-button,
.yui-button button,
.felement.ftext input + button,
.header-button-group .btn,
.btn.btn-primary,
.btn.btn-default,
.button-group > button,
input.form-submit,
input[type="button"],
input[type="submit"],
button[type="submit"],
.moodle-dialogue-content button,
button#restrictbygroup,
button#livelogs-pause-button,
#page-admin-tool-monitor-managerules a > button,
input[type="reset"],
#fgroup_id_buttonar #id_submitbutton,
#fgroup_id_buttonar .felement #id_submitbutton2,
#page-enrol-users #fgroup_id_buttons input[type="submit"],
#page-course-recent #fitem_id_submitbutton input[type="submit"],
#page-course-view-topics .buttons .singlebutton input[type="submit"],
#page-course-view-weeks .buttons .singlebutton input[type="submit"],
#page-course-view-ucla .buttons .singlebutton input[type="submit"],
#page-admin-tool-lp-coursecompetencies .btn.btn-primary,
#fgroup_id_buttonar2 .felement #id_submitbutton2,
{
    text-decoration: none;
    font-family: @font-family-base;
    background: @ucla-blue;
    color: #FFF;
    border-color: @ucla-blue;

    &,
    &:visited {
        color: #fff;
        border-color: @ucla-blue;
    }

    &:hover,
    &:active,
    &:focus {
        color: @ucla-blue;
        background: transparent;
        border-color: @ucla-blue;
    }
}

#mr-nav .btn.btn-default.snap-login-button {
    color: #000;
    background: @ucla-navbar-gold;
    border-color: @ucla-navbar-gold;

    &:hover,
    &:active,
    &:focus {
        color: #000;
        background: lighten(@ucla-navbar-gold, 15%);
        border-color: lighten(@ucla-navbar-gold, 15%);
    }
}

#snap-home {
    color: #FFF;

    &:hover,
    &:visited
    &:focus
    &:active {
        text-decoration: none;
    }
}

#snap-home #navbar-logo #logo-ucla {
    margin: 0px 40px 0px 0px;
}

.btn-link {
  color: @ucla-link;
  font-weight: normal;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link:visited,
.btn-link:visited:hover,
.bth-link:visited:focus {
    color: #536895;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
  color: @ucla-link-hover;
}
.btn-link:hover,
.btn-link:focus {
  color: @ucla-link-hover;
  text-decoration: underline;
  background-color: transparent;
}

a,
a:visited {
  color: #536895;
}
a:focus,
.dropdown-toggle:focus {
  outline: 3px solid @ucla-link;
}

#id_cancel {
    color: @ucla-blue;

    &:hover,
    &:visited
    &:focus
    &:active {
        color: @ucla-blue;
    }
}

#toc-mobile-menu-toggle {
    background-color: @ucla-blue;
}

#page-mast #snap-coverimagecontrol .btn {
    color: @ucla-blue;

    &:visited {
        color: @ucla-blue;
    }

    &:hover,
    &:active,
    &:focus {
        color: #FFF;
        background-color: @ucla-blue;
    }

}

#page-mast h1 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#notice {
    color: @ucla-blue;
}

.helptooltip img {
    &:visited,
    &:hover,
    &:active,
    &:focus {
        background-color: @ucla-blue;
        border-color: @ucla-blue;
    }
}

.fixy .fixy-header,
#fixy-user {
    background-color: @ucla-blue;
}

a,
#page-mast #course-toc a,
.section-modchooser-link span,
.section-modchooser-link .btn .btn-link,
.col-sm-6 snap-modchooser section_add_menus,
.col-sm-6 snap-dropzone-label .btn-link,
#fixy-my-courses .courseinfo-body a.coursefullname,
.summary a,
a.next_section,
a.previous_section,
.section-modchooser-link .btn .btn-link {
    color: @ucla-link;

    &:visited,
    &:visited:hover,
    &:visted:focus {
        color: #536895;
    }

    &:hover,
    &:active,
    &:focus {
        color: @ucla-link-hover;
    }
}

hr {
    border-top: 1px solid @ucla-blue;
}

.snap-asset-link a {
    color: #565656;

    &:visited,
    &:visited:hover,
    &:visted:focus {
        color: #565656;
    }

    &:hover,
    &:active,
    &:focus {
        color: #565656;
    }
}

#course-toc ol {
    list-style-type: none;
}

.course-content #coursetools #coursetools-list a,
.block_settings .content #settingsnav a {
    color: @ucla-link;

    &:visited,
    &:visited:hover,
    &:visted:focus {
        color: @ucla-link;
    }

    &:hover,
    &:active,
    &:focus {
        color: @ucla-link-hover;
    }
}

.path-course-view .mast-image {
    min-height: 0px;
}

.mform .btn-cancel {
    vertical-align: inherit;
    color: @ucla-blue;
    background-color: transparent;
    border-color: #FFF;

    &:visited,
    &:visited:hover,
    &:visted:focus {
        color: @ucla-blue;
        border-color: #FFF;
        text-decoration: underline;
    }

    &:hover,
    &:active,
    &:focus {
        color: @ucla-link;
        border-color: #FFF;
        text-decoration: underline;
    }
}
